### Reajustando Base de Dados pelos dividendos

Falta:

- Pegar os eventos direto da b3 para reajustar base (talvez isso fazer em um segundo vídeo)
    - Mostrar que lá especifica quanto é dividento e quanto é jcp (precisa somar os dois)
- usar quantmod ou outro? No yahoo já acho bom pq tem os dividendos
- Mostrar no excel também
- Mostrar para Leandro se está tudo certo
- [x] Criar função para pegar os dividendos


### Ajustar recebimento de dividendo no preço da ação
Preparar estrutura (em mais de um vídeo e sendo curtos)

- O que são dividendos?
    Diferença de jcp e dividendos

- Bonificação não entra na conta? Perguntar Leandro

- Mostrar Diferença de uma base ajustada só subtraindo e com o ratio (ver de preferência uma ação que fica negativa ITSA, talvez)

- Não é só subtrair o valor do dividendo da ação
- Preciso multiplicar o valor de fechamento por um fator de ajuste:
    - Fator de ajuste = (Preço de fechamento data com - dividendo)/fechamento na data com, ou
    - Fator de ajuste = Preço de fechamento ajustado / Preço de fechamento não ajustado

- Pegar o valor do fator ou calcular o fator com base no dividendo que é mostrado na tela de eventos corporativos da b3
- Pegar do yahoo finance e usar o actions = True
- E quando tem juros sobre capital próprio? Os dois no mesmo dia

In [35]:
import yfinance as yf
import pandas as pd
import numpy as np

In [36]:
brap = yf.download("CIEL3.SA", actions=True)
brap

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2009-06-29,8.539906,8.715728,8.288733,8.424367,5.100188,340657037,0.000000,0.0
2009-06-30,8.484648,8.590141,8.364085,8.464554,5.124516,91353899,0.000000,0.0
2009-07-01,8.600188,9.072395,8.575071,8.956855,5.422558,81824638,0.000000,0.0
2009-07-02,8.791080,9.057324,8.700658,9.052301,5.480343,52866196,0.000000,0.0
2009-07-03,9.062348,9.182911,8.951831,8.961878,5.425601,5594334,0.000000,0.0
...,...,...,...,...,...,...,...,...
2022-11-08,5.510000,5.580000,5.440000,5.480000,5.420871,19880600,0.000000,0.0
2022-11-09,5.460000,5.620000,5.370000,5.430000,5.371410,17566800,0.000000,0.0
2022-11-10,5.360000,5.360000,4.980000,5.120000,5.064755,27938000,0.000000,0.0
2022-11-11,5.120000,5.160000,4.850000,5.110000,5.110000,18810100,0.055245,0.0
2022-11-14,5.120000,5.300000,5.030000,5.110000,5.110000,19395900,0.000000,0.0

In [37]:
# Checando todos as datas com proventos
brap[brap['Dividends'] != 0]

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2010-03-15,7.284038,7.334273,7.108216,7.133334,4.320672,6537506,0.003617,0.0
2010-09-15,7.464883,7.520141,7.414648,7.520141,4.557942,7884383,0.005085,0.0
2011-03-15,6.781690,6.992676,6.661127,6.982629,4.420681,10419481,0.309564,0.0
2011-09-16,8.770978,8.841306,8.750884,8.770978,5.558441,6442758,0.008898,0.0
2012-03-16,12.056327,12.174881,11.969923,11.969923,7.741796,6006804,0.245700,0.0
2012-09-14,14.120370,14.202353,13.746624,14.197530,9.367593,13889802,0.275548,0.0
2013-03-14,13.744212,13.925057,13.611593,13.840663,9.140799,16198548,0.013247,0.0
2013-09-16,16.495949,16.825809,16.362846,16.739004,11.264672,10921305,0.309651,0.0
2014-03-17,19.233217,19.357637,19.103008,19.314236,13.232007,4313433,0.337243,0.0
2014-09-15,23.211805,23.530092,22.824074,23.414351,16.319990,4237228,0.392998,0.0
2015-03-16,25.283564,25.862268,25.202545,25.839121,18.213472,9428659,0.284297,0.0
2015-09-14,25.520832,26.097221,25.381945,26.069445,18.515427,6240096,0.193735,0.0
2016-03-14,23.527777,23.569445,22.791666,23.090277,16.540310,8111232,0.199617,0.0
2016-09-19,27.666666,27.766666,27.216665,27.500000,19.861958,4559040,0.225843,0.0
2017-01-04,23.191666,23.350000,22.933332,23.008333,16.683144,3612600,0.091378,0.0
2017-03-16,22.566666,22.716665,22.241667,22.541666,16.445488,5044080,0.138973,0.0
2017-06-30,24.580000,24.700001,24.500000,24.600000,18.034439,3072700,0.119921,0.0
2017-09-18,23.150000,23.200001,22.510000,22.629999,16.856771,7190900,0.369225,0.0
2017-12-28,23.450001,23.840000,23.450001,23.520000,17.607521,2614400,0.117236,0.0
2018-03-15,22.629999,22.709999,21.760000,21.920000,16.693466,6449000,0.390077,0.0
2018-07-02,16.170000,16.480000,16.070000,16.200001,12.423908,1922700,0.115127,0.0
2018-09-17,13.650000,14.320000,13.600000,14.190000,11.307136,6633100,0.529617,0.0
2018-09-28,12.500000,12.510000,12.140000,12.250000,9.804990,17111800,0.056185,0.0
2018-12-17,9.310000,9.450000,9.210000,9.450000,7.783325,7583700,0.266189,0.0
2018-12-20,9.580000,9.630000,9.000000,9.050000,7.501820,11726100,0.060974,0.0
2019-02-25,11.230000,11.290000,10.830000,10.900000,9.248333,15578700,0.261399,0.0
2019-03-29,9.630000,9.720000,9.380000,9.490000,8.098082,9210200,0.054471,0.0
2019-06-12,6.570000,6.570000,6.250000,6.400000,5.528275,35493900,0.079959,0.0
2019-06-24,7.300000,7.300000,7.080000,7.170000,6.262176,12175600,0.079959,0.0
2019-06-28,6.900000,6.940000,6.680000,6.720000,5.911552,14235600,0.049418,0.0
2019-09-13,7.770000,7.770000,7.620000,7.640000,6.723827,8535700,0.003389,0.0
2019-09-25,8.500000,8.600000,8.290000,8.370000,7.391088,19911700,0.028790,0.0
2019-11-06,7.390000,7.420000,7.250000,7.360000,6.512839,13328800,0.015482,0.0
2020-01-02,8.500000,8.570000,8.250000,8.570000,7.602681,14708800,0.021048,0.0
2020-01-31,7.000000,7.200000,6.900000,7.070000,6.279884,16358600,0.008912,0.0
2020-12-30,3.800000,4.030000,3.800000,4.000000,3.605649,90984900,0.055951,0.0
2021-02-02,4.210000,4.330000,4.160000,4.220000,3.808968,52337100,0.005522,0.0
2021-05-03,3.490000,3.510000,3.410000,3.420000,3.115356,25525600,0.031525,0.0
2021-08-06,3.380000,3.430000,3.340000,3.400000,3.118884,18803400,0.023567,0.0
2021-11-09,2.370000,2.500000,2.370000,2.470000,2.292331,41668400,0.027685,0.0
2021-12-30,2.170000,2.320000,2.150000,2.280000,2.202167,33753200,0.087258,0.0
2022-05-11,3.060000,3.120000,3.040000,3.060000,2.978725,22685400,0.024207,0.0
2022-08-11,5.160000,5.200000,4.980000,5.110000,5.054863,21921700,0.083220,0.0
2022-11-11,5.120000,5.160000,4.850000,5.110000,5.110000,18810100,0.055245,0.0

In [38]:
# Isso, ou já dou um shift na coluna de dividendos antes

brap.loc[(brap['Dividends'] > 0, 'fator')] = (brap['Close'].shift(1) - brap['Dividends']) / brap['Close'].shift(1)
brap['fator'] = brap['fator'].shift(-1)
brap['fator'].fillna(method='bfill', inplace=True)
brap['fator'].fillna(1, inplace=True)
brap


# fazer tb, desloca a coluna de dividendo 1 pra cima e se dividendo > 0 faz o fator ser adj close / close, simples

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,fator
Date,,,,,,,,,
2009-06-29,8.539906,8.715728,8.288733,8.424367,5.100188,340657037,0.000000,0.0,0.999517
2009-06-30,8.484648,8.590141,8.364085,8.464554,5.124516,91353899,0.000000,0.0,0.999517
2009-07-01,8.600188,9.072395,8.575071,8.956855,5.422558,81824638,0.000000,0.0,0.999517
2009-07-02,8.791080,9.057324,8.700658,9.052301,5.480343,52866196,0.000000,0.0,0.999517
2009-07-03,9.062348,9.182911,8.951831,8.961878,5.425601,5594334,0.000000,0.0,0.999517
...,...,...,...,...,...,...,...,...,...
2022-11-08,5.510000,5.580000,5.440000,5.480000,5.420871,19880600,0.000000,0.0,0.989210
2022-11-09,5.460000,5.620000,5.370000,5.430000,5.371410,17566800,0.000000,0.0,0.989210
2022-11-10,5.360000,5.360000,4.980000,5.120000,5.064755,27938000,0.000000,0.0,0.989210
2022-11-11,5.120000,5.160000,4.850000,5.110000,5.110000,18810100,0.055245,0.0,1.000000
2022-11-14,5.120000,5.300000,5.030000,5.110000,5.110000,19395900,0.000000,0.0,1.000000

In [39]:
all_factors = brap['fator'].dropna().unique().tolist()
all_factors

[0.999516765367232,
 0.9993460932466764,
 0.9573539876756701,
 0.998999047321584,
 0.9798390692178454,
 0.980246280045656,
 0.9990516492210824,
 0.9813821530556041,
 0.9822924354484069,
 0.9829028057270303,
 0.9888323426379971,
 0.9924600433054328,
 0.991488051578813,
 0.9918024317149092,
 0.9960851979089302,
 0.993875592821297,
 0.9951605731768752,
 0.9841873664253551,
 0.995013356067263,
 0.9830031813929212,
 0.9930310534618723,
 0.9624385116545086,
 0.9955408731508748,
 0.9718020114584378,
 0.9936085953622837,
 0.9769692518753773,
 0.9943081502887132,
 0.987884999824943,
 0.98901662119566,
 0.9928275760584003,
 0.9995604409879076,
 0.9966445221146849,
 0.9979078378648005,
 0.9974853046251153,
 0.9987430183627364,
 0.9853913835210055,
 0.9986852380355308,
 0.990862318966875,
 0.9930275150289757,
 0.9884163185000738,
 0.960870852352614,
 0.9922163984512757,
 0.9840574706235871,
 0.9892099606963238,
 1.0]

In [40]:
#new_factors = []
#for factor in all_factors:
    #np.array(all_factors[all_factors.index(factor): ]) # tirar essa linha e fazer list comprehension?
    #new_factors.append(np.array(all_factors[all_factors.index(factor): ]).prod())

# Com list comprehension
new_factors = [np.array(all_factors[all_factors.index(factor): ]).prod() for factor in all_factors]

new_factors

[0.6054088273237781,
 0.6057015232769458,
 0.6060978547573462,
 0.6330969135344309,
 0.633731248525038,
 0.6467707488240012,
 0.6598043389604876,
 0.6604306588902674,
 0.6729597199561547,
 0.6850910132978425,
 0.6970078926482428,
 0.7048797481570758,
 0.7102348884590276,
 0.7163322718090984,
 0.7222529900138475,
 0.7250915800476353,
 0.7295597007159926,
 0.7331075209169533,
 0.7448861323831621,
 0.7486192299239927,
 0.7615633846303479,
 0.766907924959054,
 0.7968383597209527,
 0.8004074781972228,
 0.8236322509726097,
 0.8289302798073136,
 0.8484712064541541,
 0.853328222450743,
 0.8637930757142339,
 0.873385802829038,
 0.8796953508246063,
 0.8800821988865088,
 0.883045237653187,
 0.884896584781434,
 0.8871274400518656,
 0.8882439463818784,
 0.901412333450695,
 0.9025990363328319,
 0.9109227579407086,
 0.9173187491326752,
 0.9280692072392231,
 0.9658625870135631,
 0.9734394518384824,
 0.9892099606963238,
 1.0]

In [41]:
dict_factors = dict(zip(all_factors, new_factors))
dict_factors

{0.999516765367232: 0.6054088273237781,
 0.9993460932466764: 0.6057015232769458,
 0.9573539876756701: 0.6060978547573462,
 0.998999047321584: 0.6330969135344309,
 0.9798390692178454: 0.633731248525038,
 0.980246280045656: 0.6467707488240012,
 0.9990516492210824: 0.6598043389604876,
 0.9813821530556041: 0.6604306588902674,
 0.9822924354484069: 0.6729597199561547,
 0.9829028057270303: 0.6850910132978425,
 0.9888323426379971: 0.6970078926482428,
 0.9924600433054328: 0.7048797481570758,
 0.991488051578813: 0.7102348884590276,
 0.9918024317149092: 0.7163322718090984,
 0.9960851979089302: 0.7222529900138475,
 0.993875592821297: 0.7250915800476353,
 0.9951605731768752: 0.7295597007159926,
 0.9841873664253551: 0.7331075209169533,
 0.995013356067263: 0.7448861323831621,
 0.9830031813929212: 0.7486192299239927,
 0.9930310534618723: 0.7615633846303479,
 0.9624385116545086: 0.766907924959054,
 0.9955408731508748: 0.7968383597209527,
 0.9718020114584378: 0.8004074781972228,
 0.9936085953622837: 0.8236322509726097,
 0.9769692518753773: 0.8289302798073136,
 0.9943081502887132: 0.8484712064541541,
 0.987884999824943: 0.853328222450743,
 0.98901662119566: 0.8637930757142339,
 0.9928275760584003: 0.873385802829038,
 0.9995604409879076: 0.8796953508246063,
 0.9966445221146849: 0.8800821988865088,
 0.9979078378648005: 0.883045237653187,
 0.9974853046251153: 0.884896584781434,
 0.9987430183627364: 0.8871274400518656,
 0.9853913835210055: 0.8882439463818784,
 0.9986852380355308: 0.901412333450695,
 0.990862318966875: 0.9025990363328319,
 0.9930275150289757: 0.9109227579407086,
 0.9884163185000738: 0.9173187491326752,
 0.960870852352614: 0.9280692072392231,
 0.9922163984512757: 0.9658625870135631,
 0.9840574706235871: 0.9734394518384824,
 0.9892099606963238: 0.9892099606963238,
 1.0: 1.0}

In [26]:
brap['fator'].replace(dict_factors, inplace=True)
brap

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,fator
Date,,,,,,,,,
2009-06-29,8.539906,8.715728,8.288733,8.424367,5.100187,340657037,0.000000,0.0,0.605409
2009-06-30,8.484648,8.590141,8.364085,8.464554,5.124515,91353899,0.000000,0.0,0.605409
2009-07-01,8.600188,9.072395,8.575071,8.956855,5.422558,81824638,0.000000,0.0,0.605409
2009-07-02,8.791080,9.057324,8.700658,9.052301,5.480344,52866196,0.000000,0.0,0.605409
2009-07-03,9.062348,9.182911,8.951831,8.961878,5.425598,5594334,0.000000,0.0,0.605409
...,...,...,...,...,...,...,...,...,...
2022-11-08,5.510000,5.580000,5.440000,5.480000,5.420871,19880600,0.000000,0.0,0.989210
2022-11-09,5.460000,5.620000,5.370000,5.430000,5.371410,17566800,0.000000,0.0,0.989210
2022-11-10,5.360000,5.360000,4.980000,5.120000,5.064755,27938000,0.000000,0.0,0.989210
2022-11-11,5.120000,5.160000,4.850000,5.110000,5.110000,18810100,0.055245,0.0,1.000000
2022-11-14,5.120000,5.300000,5.030000,5.110000,5.110000,19395900,0.000000,0.0,1.000000

In [8]:
primeiro_fator = (32.226646 - 0.405848) / 32.226646
primeiro_fator

0.9874064462060371

In [9]:
primeiro_fator * 32.270916

31.864510483373543

In [10]:
# Comparando com o debaixo esse deve ser mais preciso
brap.loc['2022-11-10']['fator']

1.0

In [11]:
fator = (26.040001 - 1.524102) / 26.040001
fator

0.9414707395748564

In [12]:
# Testando o ajuste do fator com o preço do dia 2022-11-09
26.040001 * fator

24.515899

In [27]:
# Pelo jeito deu bom
brap.insert(5, 'ajustado', brap['Close'] * brap['fator'])
brap

,Open,High,Low,Close,Adj Close,ajustado,Volume,Dividends,Stock Splits,fator
Date,,,,,,,,,,
2009-06-29,8.539906,8.715728,8.288733,8.424367,5.100187,5.100186,340657037,0.000000,0.0,0.605409
2009-06-30,8.484648,8.590141,8.364085,8.464554,5.124515,5.124516,91353899,0.000000,0.0,0.605409
2009-07-01,8.600188,9.072395,8.575071,8.956855,5.422558,5.422559,81824638,0.000000,0.0,0.605409
2009-07-02,8.791080,9.057324,8.700658,9.052301,5.480344,5.480343,52866196,0.000000,0.0,0.605409
2009-07-03,9.062348,9.182911,8.951831,8.961878,5.425598,5.425600,5594334,0.000000,0.0,0.605409
...,...,...,...,...,...,...,...,...,...,...
2022-11-08,5.510000,5.580000,5.440000,5.480000,5.420871,5.420871,19880600,0.000000,0.0,0.989210
2022-11-09,5.460000,5.620000,5.370000,5.430000,5.371410,5.371410,17566800,0.000000,0.0,0.989210
2022-11-10,5.360000,5.360000,4.980000,5.120000,5.064755,5.064755,27938000,0.000000,0.0,0.989210
2022-11-11,5.120000,5.160000,4.850000,5.110000,5.110000,5.110000,18810100,0.055245,0.0,1.000000
2022-11-14,5.120000,5.300000,5.030000,5.110000,5.110000,5.110000,19395900,0.000000,0.0,1.000000

In [28]:
#brap.to_excel('brap4.xlsx')

In [30]:
brap['diff'] = round(brap['Adj Close'] - brap['ajustado'], 2)
brap['diff'].dropna().unique()
brap

,Open,High,Low,Close,Adj Close,ajustado,Volume,Dividends,Stock Splits,fator,diff
Date,,,,,,,,,,,
2009-06-29,8.539906,8.715728,8.288733,8.424367,5.100187,5.100186,340657037,0.000000,0.0,0.605409,0.0
2009-06-30,8.484648,8.590141,8.364085,8.464554,5.124515,5.124516,91353899,0.000000,0.0,0.605409,-0.0
2009-07-01,8.600188,9.072395,8.575071,8.956855,5.422558,5.422559,81824638,0.000000,0.0,0.605409,-0.0
2009-07-02,8.791080,9.057324,8.700658,9.052301,5.480344,5.480343,52866196,0.000000,0.0,0.605409,0.0
2009-07-03,9.062348,9.182911,8.951831,8.961878,5.425598,5.425600,5594334,0.000000,0.0,0.605409,-0.0
...,...,...,...,...,...,...,...,...,...,...,...
2022-11-08,5.510000,5.580000,5.440000,5.480000,5.420871,5.420871,19880600,0.000000,0.0,0.989210,0.0
2022-11-09,5.460000,5.620000,5.370000,5.430000,5.371410,5.371410,17566800,0.000000,0.0,0.989210,-0.0
2022-11-10,5.360000,5.360000,4.980000,5.120000,5.064755,5.064755,27938000,0.000000,0.0,0.989210,0.0
2022-11-11,5.120000,5.160000,4.850000,5.110000,5.110000,5.110000,18810100,0.055245,0.0,1.000000,0.0
2022-11-14,5.120000,5.300000,5.030000,5.110000,5.110000,5.110000,19395900,0.000000,0.0,1.000000,0.0

In [16]:
brap[brap.index <= '2009-11-03']

,Open,High,Low,Close,Adj Close,ajustado,Volume,Dividends,Stock Splits,fator,diff
Date,,,,,,,,,,,
2000-01-03,3.500000,3.750000,3.500000,3.500000,1.428381,1.428381,5252000000,0.000000,0.0,0.408109,0.0
2000-01-04,3.500000,3.500000,3.250000,3.250000,1.326354,1.326354,5428000000,0.000000,0.0,0.408109,0.0
2000-01-05,3.250000,3.500000,3.250000,3.500000,1.428381,1.428381,8328000000,0.000000,0.0,0.408109,0.0
2000-01-06,3.500000,3.500000,3.500000,3.500000,1.428381,1.428381,12508000000,0.000000,0.0,0.408109,0.0
2000-01-07,3.500000,3.500000,3.500000,3.500000,1.428381,1.428381,3200000000,0.000000,0.0,0.408109,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2009-10-27,33.200531,33.333332,32.146969,32.527668,13.274828,13.274827,885189,0.000000,0.0,0.408109,0.0
2009-10-28,32.315182,32.412571,29.216467,30.101814,12.284815,12.284815,2082346,0.000000,0.0,0.408109,0.0
2009-10-29,31.208500,32.943779,30.624168,32.890659,13.422970,13.422967,1818269,0.000000,0.0,0.408109,0.0
2009-10-30,32.899513,33.191677,31.429836,32.270916,13.170044,13.170044,1158528,0.000000,0.0,0.408109,-0.0
2009-11-03,31.146524,32.660469,31.031429,32.226646,13.319490,13.319487,1654491,0.405848,0.0,0.413307,0.0

### Função

In [31]:
def reajuste_dividendos(df):
    df.loc[(df['Dividends'] > 0, 'fator')] = (df['Close'].shift(1) - df['Dividends']) / df['Close'].shift(1)
    df['fator'] = df['fator'].shift(-1)
    df['fator'].fillna(method='bfill', inplace=True)
    df['fator'].fillna(1, inplace=True)
    all_factors = df['fator'].dropna().unique().tolist()
    new_factors = [np.array(all_factors[all_factors.index(factor): ]).prod() for factor in all_factors]
    dict_factors = dict(zip(all_factors, new_factors))
    df['fator'].replace(dict_factors, inplace=True)
    df.insert(5, 'ajustado', df['Close'] * df['fator'])
    return df

In [33]:
cielo = yf.download("CIEL3.SA", actions=True)
cielo

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2009-06-29,8.539906,8.715728,8.288733,8.424367,5.100185,340657037,0.000000,0.0
2009-06-30,8.484648,8.590141,8.364085,8.464554,5.124516,91353899,0.000000,0.0
2009-07-01,8.600188,9.072395,8.575071,8.956855,5.422557,81824638,0.000000,0.0
2009-07-02,8.791080,9.057324,8.700658,9.052301,5.480343,52866196,0.000000,0.0
2009-07-03,9.062348,9.182911,8.951831,8.961878,5.425600,5594334,0.000000,0.0
...,...,...,...,...,...,...,...,...
2022-11-08,5.510000,5.580000,5.440000,5.480000,5.420871,19880600,0.000000,0.0
2022-11-09,5.460000,5.620000,5.370000,5.430000,5.371410,17566800,0.000000,0.0
2022-11-10,5.360000,5.360000,4.980000,5.120000,5.064755,27938000,0.000000,0.0
2022-11-11,5.120000,5.160000,4.850000,5.110000,5.110000,18810100,0.055245,0.0
2022-11-14,5.120000,5.300000,5.030000,5.110000,5.110000,19395900,0.000000,0.0

In [34]:
cielo_ajustado = reajuste_dividendos(cielo)
cielo_ajustado

,Open,High,Low,Close,Adj Close,ajustado,Volume,Dividends,Stock Splits,fator
Date,,,,,,,,,,
2009-06-29,8.539906,8.715728,8.288733,8.424367,5.100185,5.100186,340657037,0.000000,0.0,0.605409
2009-06-30,8.484648,8.590141,8.364085,8.464554,5.124516,5.124516,91353899,0.000000,0.0,0.605409
2009-07-01,8.600188,9.072395,8.575071,8.956855,5.422557,5.422559,81824638,0.000000,0.0,0.605409
2009-07-02,8.791080,9.057324,8.700658,9.052301,5.480343,5.480343,52866196,0.000000,0.0,0.605409
2009-07-03,9.062348,9.182911,8.951831,8.961878,5.425600,5.425600,5594334,0.000000,0.0,0.605409
...,...,...,...,...,...,...,...,...,...,...
2022-11-08,5.510000,5.580000,5.440000,5.480000,5.420871,5.420871,19880600,0.000000,0.0,0.989210
2022-11-09,5.460000,5.620000,5.370000,5.430000,5.371410,5.371410,17566800,0.000000,0.0,0.989210
2022-11-10,5.360000,5.360000,4.980000,5.120000,5.064755,5.064755,27938000,0.000000,0.0,0.989210
2022-11-11,5.120000,5.160000,4.850000,5.110000,5.110000,5.110000,18810100,0.055245,0.0,1.000000
2022-11-14,5.120000,5.300000,5.030000,5.110000,5.110000,5.110000,19395900,0.000000,0.0,1.000000